<ion-view view-title="Summary">
  <ion-content class="padding">

    <h3 class="title">Summary</h3>
    
    <p>Congratulations, you have successfully completed the form!</p>
    
    <p class="col text-center">
        <button class="button" ng-click="submitData()">Submit Data</button>
        <button class="button" ng-click="sendEmail()">Email Data</button>
        <button class="button" ng-click="clearData()">Clear Data</button><br/>
    </p>

    <p class="col text-center">
        <a class="button icon icon-left ion-chevron-left" href="#/tab/assessment7">New Level of Risk</a>
    </p>
  </ion-content>
</ion-view>
