<ion-view view-title="Level of Risk">
  <ion-content class="padding">
    
    <h3 class="title">Likelihood of an Accident</h3>
    <ion-list>
      <ion-radio name="chance" ng-model="$parent.chance" ng-value="high">High</ion-radio>
      <ion-radio name="chance" ng-model="$parent.chance" ng-value="med">Medium</ion-radio>
      <ion-radio name="chance" ng-model="$parent.chance" ng-value="low">Low</ion-radio>
    </ion-list>

    <h3 class="title">Severity of Potential Accident</h3>
    <ion-list>
      <ion-radio name="severity" ng-model="$parent.severity" ng-value="high">High</ion-radio>
      <ion-radio name="severity"ng-model="$parent.severity" ng-value="med">Medium</ion-radio>
      <ion-radio name="severity"ng-model="$parent.severity" ng-value="low">Low</ion-radio>
    </ion-list>
    <p>
        <a class="button icon icon-left ion-chevron-left" href="#/tab/assessment4">Hazards &amp; Risk</a>
        <a class="button icon icon-right ion-chevron-right" href="#/tab/assessment6">Control Measures</a>
    </p>
  </ion-content>
</ion-view>
