<ion-view view-title="About">

  <ion-content class="padding">
    <center>
    <a href="#" onclick="window.open('http://www.childnature.ca/', '_system', 'location=yes'); return false;"><img src="img/cnaclogo.png"></a>
    <a href="#" onclick="window.open('http://www.forestschoolcanada.ca/', '_system', 'location=yes'); return false;"><img src="img/fsclogo.jpg"></a>
    </center>
<p/>

<p>The Child and Nature Alliance of Canada supports deep and meaningful
connections to nature and the outdoors to foster healthy childhood
development and transformative learning experiences for Canadian children
and youth. We are invested in collaborative leadership and a multi-sector
approach to further innovative practice, policy development and
research.</p>

<p>Forest School Canada [FSC] is an education program of the Child and Nature
Alliance of Canada. The goal of FSC is to promote and support the Forest and
Nature School movement across Canada, mobilizing communities of practice at
regional and national levels.</p>

<p>For more information, visit the
<a href="#" onclick="window.open('http://www.childnature.ca/', '_system', 'location=yes'); return false;">Child and Nature Alliance of Canada</a>
and
<a href="#" onclick="window.open('http://www.forestschoolcanada.ca/', '_system', 'location=yes'); return false;">Forest School Canada</a>
websites.

  </ion-content>
  
</ion-view>
