<ion-view view-title="About">

  <ion-content class="padding">
    <center><a href="#" onclick="window.open('http://www.forestschoolcanada.ca/', '_system', 'location=yes'); return false;"><img src="img/fsclogo.jpg"></a></center>

    <p>Forest School is an educational approach in which children spend time outdoors in various urban and near-urban parks, natural spaces adjacent to or on school grounds, or natural playgrounds and outdoor classrooms. Children attending Forest School have the opportunity to learn in a natural environment on a regular basis, ranging anywhere from a half to a full day.</p>

    <p>For more information, visit the <a href="#" onclick="window.open('http://www.forestschoolcanada.ca/', '_system', 'location=yes'); return false;">Forest School Canada website</a>.

    <center><a href="#" onclick="window.open('http://www.childnature.ca/', '_system', 'location=yes'); return false;"><img src="img/cnaclogo.png"></a></center>
    
    <p>The Child and Nature Alliance of Canada is a network of organizations
    and individuals who are working to connect children to nature through
    education, advocacy, programming, policy, research, and the built
    environment.  Our vision is that all children and families in Canada are
    connected with nature and the outdoors in order to enhance their health
    and well-being. Our work aims to connect Canada’s children and families
    with nature and the outdoors in the settings where they live, play,
    learn and work.</p>
    
    <p><b>Ensuring All Canadian Children and Families Get Outside and Play!</b></p>

    <p>For more information, visit the <a href="#" onclick="window.open('http://www.childnature.ca/', '_system', 'location=yes'); return false;">Child and Nature Alliance of Canada website</a>.
  </ion-content>
  
</ion-view>
