<ion-view view-title="Control">
  <ion-content class="padding">
    <h3 class="title">Control Measures</h3>
    <ion-list>
    <ion-checkbox ng-model="C01">Clear Debris</ion-checkbox>
    <ion-checkbox ng-model="C02">Protective Gear</ion-checkbox>
    <ion-checkbox ng-model="C03">Bear Repellent</ion-checkbox>
    </ion-list>
    <label class="item item-input">
        <span class="input-label">Other</span>
        <input type="text">
    </label>
    
    <h3 class="title">New Level of Risk</h3>
    <ion-list>
        <ion-radio ng-model="$parent.risk" ng-value="high" ng-change="showConfirm()">High</ion-radio>
        <ion-radio ng-model="$parent.risk" ng-value="med" ng-change="showConfirm()">Med</ion-radio>
        <ion-radio ng-model="$parent.risk" ng-value="low" ng-change="showConfirm()">Low</ion-radio>
    </ion-list>
  </ion-content>
</ion-view>
