<ion-view view-title="Hazards and Risk">
  <ion-content class="padding">
    <h3 class="title">Assessment carried out by $USER on $DATE</h3>


    <ion-content ng-controller="PhotoController">
        <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
        <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
        <button class="button" ng-click="takePicture()">Take Picture</button>
    </ion-content>


    <div class="list card">
      <div class="item item-divider">Information</div>
      <div class="item item-body">
        <div>
            <label class="item item-input">
                <span class="input-label">Experience</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Group Details</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">References</span>
                <input type="text">
            </label>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Experience</div>
      <div class="item item-body">
        <div>
            <label class="item item-input">
                <span class="input-label">Activity</span>
                <input type="text">
            </label>
        </div>
      </div>
    </div>
    <p>
        <a class="button icon icon-right ion-chevron-right" href="#/tab/assessment5">Level of Risk</a>
    </p>
  </ion-content>
</ion-view>
