<ion-view view-title="Home">
  <ion-content class="padding">
  <center><h3 class="title">Forest School Canada Activity Risk/Benefit Assessment</h3></center>
  <form ng-model-options="{getterSetter:true}">
    <label class="item item-input">
        <span class="input-label">Educator's Name</span>
        <input ng-model="A0.Name" type="text" placeholder="Name">
    </label>
    <label class="item item-input">
        <span class="input-label">Program Name</span>
        <input ng-model="A0.Program" type="text" placeholder="Program">
    </label>
    <label class="item item-input">
        <span class="input-label">Educator's Email</span>
        <input ng-model="A0.Email" type="text" placeholder="Email">
    </label>
  </form>
  </ion-content>
</ion-view>
