<ion-view view-title="Benefits">
  <ion-content class="padding">

    <ion-list>
      <div ng-controller="BenefitListCtrl">
        <label ng-repeat="(name, enabled) in benefits">
          <ion-checkbox ng-model="benefits[name]">{{name}}</ion-checkbox>
        </label>
      </div>
    </ion-list>
    <p>
        <a class="button icon icon-left ion-chevron-left" href="#/tab/assessment2">Experience</a>
        <a class="button icon icon-right ion-chevron-right" href="#/tab/assessment4">Hazards &amp; Risks</a>
    </p>
  </ion-content>
</ion-view>
