<ion-view view-title="Experiences & Activity Risk Assessment">
  <ion-content class="padding">
    <h3 class="title">Assessment carried out by $USER on $DATE</h3>
    <div class="list card">
      <div class="item item-divider">Information</div>
      <div class="item item-body">
        <div>
            <label class="item item-input">
                <span class="input-label">Experience</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">Group Details</span>
                <input type="text">
            </label>
            <label class="item item-input">
                <span class="input-label">References</span>
                <input type="text">
            </label>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Experience</div>
      <div class="item item-body">
        <div>
            <label class="item item-input">
                <span class="input-label">Activity</span>
                <input type="text">
            </label>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
