<ion-view view-title="About">

  <ion-content class="padding">

    <p>Forest School [FS] is an educational approach in which children spend time outdoors in various urban and near-urban parks, natural spaces adjacent to or on school grounds, or natural playgrounds and outdoor classrooms. Children attending FS have the opportunity to learn in a natural environment on a regular basis, ranging anywhere from a half to a full day.</p>

    <p>For more information, visit the <a href="http://www.forestschoolcanada.ca/">Forest School Canada Website</a>.
  </ion-content>
  
</ion-view>
